* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.menu-container {
    color: #006636;
    background-color: #c0ebcd;
    /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background-image: url("images/geometric-leaves.png");
    /* taken from https://www.toptal.com/designers/subtlepatterns/geometric-leaves-pattern/ */
    background-repeat: repeat; /* This will repeat the pattern */
    background-blend-mode: multiply;

}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.links {

    display: flex;
    justify-content: flex-end;

}

.login {
    margin-left: 20px;

}

.signup {
    margin-left: auto;
  }

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    
    display: flex;
    justify-content: center;
    
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.photo-grid-container {
    display: flex;
    justify-content: space-around;
    margin: 0; /* Ensure no margin */
    padding: 0; /* Ensure no padding */
}

.photo-grid {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0; /* Adjust this if needed */
}

.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

.first-item {
    order: 1;
    background-color: #5995DA;
}

.second-item {
    order: -1;
    background-color: coral;
}

.third-item {
    order: -1;
    background-color:aquamarine
}

.fourth-item {
    order: -1;
    background-color:bisque
}

.fifth-item {
    order: -1;
    background-color:lightblue
}



.social,
.subscribe {
    align-self: flex-end;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
    margin: 0; /* Ensure no margin */
    padding: 0; /* Ensure no padding */
}

.footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    justify-content: center;
    flex: 1;
}

.footer-three {
    flex: 1;
}

.footer-two {
    flex-shrink: 5; 
}



.footer-one,
.footer-three {
    background-color: #5995DA;
    flex: initial; width: 300px;
}

